<!-- <head><title>owner home</title>
   
    <script>
        $(document).ready(function(){
           img=$("h1");
           img.animate({left:'10px',bottom:'20px'});
           img.animate({left:'20px',bottom:'30px'});
           img.animate({left:'30px',bottom:'40px'});
           img.animate({left:'40px',bottom:'50px'});
           img.animate({left:'50px',bottom:'60px'});
           img.animate({left:'60px',bottom:'70px'},"slow");
           img.animate({left:'70px',bottom:'80px'},"slow");
           img.animate({left:'80px',bottom:'90px'},"slow");
           img.animate({left:'90px',bottom:'100px'},"slow");
           img.animate({left:'100px',bottom:'110px'},"slow");
           img.animate({left:'110px',bottom:'120px'},"slow");
           img.animate({left:'120px',bottom:'130px'},"slow");
           });
       </script>
</head> -->
{% extends 'shared/navbar.html' %}

{% block display %}
<!-- <div class="bg-light" style="height: 500px;">
<h1 id='wordscroll' style="position: absolute;left: 500px;top: 400px;" id='scroll'>welcome</h1> -->
<!-- <marquee behavior="alternate" direction="">welcome</marquee> -->
<!-- </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock display %}