<head><title>order status</title></head>
{% extends 'shared/shopnavbar.html' %}

{% block display %}
        <br><br><br><br><br>
    
        <table class="table table-stripped">
            <tr>
                <th>product</th>
                <th>product name</th>
                <th>cost</th>
                <th>quantity</th>
                <th>price</th>
                <th>status</th>
            </tr>
            
            {% for i in order %}
            <!-- {{user.id}}
            {{i.userid.id}} -->
            {% if user.id == i.userid.id %}                
            <tr>
                <td><img src="{{i.order.productid.image.url}}" alt="" height="50px"></td>
                <td>{{i.productid.name}}</td>
                <td>{{i.productid.cost}}</td>
                <td>{{i.qty}}</td>
                <td>{{i.cost}}</td>
                {% if i.status == True %}
                    <td>delivered</td>
                {% else %}
                    <td>proccessing</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </table>

{% endblock display %}
    