<!doctype html>
<html lang="en">
  <head>
    <title>Login page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  {% load static %}
  <body background="{% static 'images/download1.jpg' %}">
    <div class="container" style="width: 1000px;">
      <h1 class="text-white" style='font-size: 50px;'> Baker's Hut</h1>
  
        <!-- <img src="{% static 'images/download1.jpeg' %}" style="position:absolute;left: 155px;top: 68px;width: 450px;height: 474px;" > -->
        <div class="row">
          <div class="col-sm-6 offset-4 bg-grey rounded mt-5">
            <form action="" method="post" autocomplete="off">
              <h1 class="text-center" style='color:white;font-size: 50px;'> Login Page</h1><br>
              
              <input class="form-control font-weight-bold text-dark" type="text" name="username" id="username" placeholder="Enter Username"><br>
              <input class="form-control font-weight-bold text-dark" type="password" name="password" id="password" placeholder="Enter Password"><br>
            
            <!-- <strong>{{ form.as_p }}</strong> -->
            
            {% if msg %}
            <div class="text-center" style="background-color: white;font-size: large;"><b>{{ msg }}</b><br><br></div><br>
            {% endif %}            
            {% csrf_token %}
            <button class="btn btn-block btn-success">SUBMIT</button>
          </form>
          </div>
        </div>
    </div>
</body>
</html>