<head><title>change password</title></head>
{% extends 'shared/staffnavbar.html' %}

{% block display %}
<br><br><br><br><br><br>
    {% include 'shared/messages.html' %}
    <div class="container">
    <div class="row">
        <div class="col-sm-5 offset-3">
            <form method="POST">
                {% csrf_token %}
                <input type="text" class='form-control' name='name' value={{user}} disabled><br><br>
                <!-- <input type="password" class='form-control' name='passw' placeholder="enter old password"><br><br> -->
                <input type="password" class='form-control' name='new' placeholder="enter new password"><br><br>
                <input type="password" class='form-control'name='renew' placeholder="re-enter new password"><br><br>
                {{msg}}
                <input type="submit" class='form-control btn btn-primary btn-block' value="submit">
            </form>
</div></div></div>

{% endblock display %}