<head><title>order product</title></head>
{% extends 'shared/custnavbar.html' %}

{% load static %}
{% block display %}
 <div class="bg-white" style="height: 500px;">
    
    {% for p in product %}
        <img src="{{p.image.url}}" alt="no image" height="100px">
        <p style="display: inline;">{{p.description}}</p>
        <a class="btn btn-secondary" href="{% url 'customer_cart' id=p.id %}">add to cart</a>
        <a class="btn btn-success" href="{% url 'customer_order' id=p.id %}">order</a>
        
        <br><br>
    {% endfor %}
        
 </div>

{% endblock display %}
    